html
  head
    title Todo
  body
    center
      h1 These are your Todo lists. Click on one to start getting things done!
      div(class = "holder")
        each todo, i in todos
          div(class = todo.name + "-holder")
            input(type = "button" class= "todo" value= todo.name name = todo.name)
            input(type = "button" class = "clsbtn" value= "Close " + todo.name name = todo.name)
            br
        else
          p It doesn't look like there's anything here. Try adding some lists!

      ul
      input(type = "text" value = "List Name" class = "listtext" )
      ul
      ul
      input(class= "add" type = "button" value = "Add")

      h1= message
      br
      form(action = "logout", method = "get")
        input(type = "submit" value = "Logout")

    script(src = "./../js/jquery-3.2.1.min.js")
    script(src = "./../js/todos.js")
